body, span{
      font-family: 'Roboto', sans-serif !important;
}
/*
.App {
  text-align: center;
}*/
.red {
  color: red;
}
h1, h5, h3 {
  color: #fff !important;
}
.SideBar-Container{
  position: fixed;
    left: 0;
    background-color: #3E4651;
    width: 15%;
    height: 100vh;
    top: 0;
    box-shadow: 0px 17px 22px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.mRight10{
  margin-right: 10px;
}
.col-lg-10{
  padding-bottom: 1%;
}
.Logo{
    width: 44%;
    bottom: 5px;
    left: 8px;
    position: absolute;
}

#page-wrapper{
    left: 16%;
    position: absolute;

}
#page-wrapper > .row{
  width: 100%;
}
.panel-primary>.panel-heading {
    text-align: left !important;
  }
.heading-text{
  font-size: 0.8em;
}
.addBtn {
  margin-left: 20px;
  margin-top: 5px;
}

.panel-text{
  font-size: 1.2em;
}

.panel{
  border-radius: 0px;
}

.panel-heading {
  border-radius: 0px;
}

.page-header{
  text-align: left !important;
  font-weight: 300;
  margin: 0px 0 20px !important;
  display: inline;
  border-bottom: none;
}

.page-header > .btn{
        margin-left: 1%;
  }

.fa-ellipsis-v{
  right: 10px;
  position: absolute;
  color: grey;
  font-size: 22px !important;
}


.navbar-default{
    width: 85%;
    left: 15%;
  }

.MenuBtn{
  width: 100%;
border-radius: 0;
background-color: #3E4651;
color: rgba(255, 255, 255, 0.75);
padding: 10px;
font-size: 1.6vh;
padding-left: 10%;
text-align: left;
}

.MenuBtn:hover{
  /*background-color: rgba(0, 0, 0, 0.12);*/
  color: white;
}

.MenuBtn:focus{
  color: white;
  outline: none;
}

.MenuItems{
  padding-top: 20px;
  /*new for comp name*/
  border-top: 1px solid white;
}

.login{
  background-image: -webkit-linear-gradient(0deg, rgb(31, 44, 56), rgb(45, 106, 185));
  height: 100vh;
}

.loginDetails{
  margin-top: 20%;
  padding: 0 100px;
  color: #fff;
  text-align: left;
}

.loginDetails h1{
  font-size: 5em;
}

.loginDetails h3{
  text-transform: uppercase;
  letter-spacing: 1px;
}

.loginDetails h5{
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 1px;
}

.login .loginBox{
  height: 100vh;
  background-color: #fff;
  padding: 40% 30px 0;
}

.login .loginBox h1{
  text-align: left;
  font-size: 1.5em;
  text-transform: uppercase;
  padding: 0 15px;
}

.loginGroup {
	position: relative;
	margin-bottom: 45px;
}

.input-container {
  position: relative;
  margin-top: 20px;
  text-align: left;
}
.input-container input {
  outline: none;
  z-index: 1;
  position: relative;
  background: none;
  width: 100%;
  height: 54px;
  border: 0;
  color: #212121;
  font-size: 20px;
  font-weight: 400;
}
.input-container input:focus ~ label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
          transform: translate(-12%, -50%) scale(0.75);
}
.input-container input:focus ~ .bar:before, .card .input-container input:focus ~ .bar:after {
  width: 100%;
  text-align: left;
}
.input-container input:valid ~ label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
          transform: translate(-12%, -50%) scale(0.75);
}
.input-container label {
  position: absolute;
  top: 0;
  left: 0;
  color: #757575;
  font-size: 16px;
  font-weight: 300;
  line-height: 60px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.input-container .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #757575;
  width: 100%;
  height: 1px;
}
.input-container .bar:before, .input-container .bar:after {
  content: '';
  position: absolute;
  background: #34495e;
  width: 0;
  height: 2px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}
button.btn.btnSign{
  background-color: #ff4081;
}

button.btn.btnSign, button.btn.btnReg{
    color: #fff;
    border-radius: 0;
    margin: 35px 15px;
    width: 35%;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12)
}

button.btn.btnSign:hover{
  background-color: rgba(255, 64, 129, 0.8);
  color: white;
}

button.btn.btnReg:hover{
  background-color: rgba(0, 0, 0, 0.12);
  color: white;
}

.progressBar{
  border-bottom: 4px solid #ddd;
  width: 100%;
  margin-top: 21px;
  margin-bottom: 35px;
  display: inline-block;
}

.progress1:after{
  position: absolute;
  left: 16px;
  width: 32%;
  right: 0;
  top: 21px;
  border-top: 4px solid blue;
  content: '';
}
.progressPoint{
  background-color: white;
  z-index: 1;
  position: absolute;
  top: 15px;
}

.progressPoint.firstPoint{
  left:10;
}

.progressPoint.secondPoint{
  left:33.66%;
}

.progressPoint.thirdPoint{
  left:67.32%;
}

.progressPoint.fourthPoint{
  left:98%;
}

.form-group.halfSize{
  width: 45%;
  display: inline-block;
}

.fa-check-circle{
  color: green;
  font-size: 18px;
}

.input-container .bar:before, .input-container .bar:after {
  content: '';
  position: absolute;
  background: #34495e;
  width: 0;
  height: 2px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}
ol.progtrckr {
  list-style-type: none;
  padding: 0;
}

ol.progtrckr li {
  display: inline-block;
  text-align: center;
  line-height: 4.5rem;
  cursor: pointer;
}

ol.progtrckr li span {
  padding: 0 1.5rem;
}

@media (max-width: 650px) {
  .progtrckr li span {
    display: none;
  }
}
.progtrckr em {
  display: none;
  font-weight: 700;
  padding-left: 1rem;
}

@media (max-width: 650px) {
  .progtrckr em {
    display: inline;
  }
}

ol.progtrckr li.progtrckr-todo {
  color: silver;
  border-bottom: 4px solid silver;
}

ol.progtrckr li.progtrckr-doing {
  color: black;
  border-bottom: 4px solid #CCCCCC;
}

ol.progtrckr li.progtrckr-done {
  color: black;
  border-bottom: 4px solid #5cb85c;
}

ol.progtrckr li:after {
  content: "\00a0\00a0";
}

ol.progtrckr li:before {
  position: relative;
  bottom: -3.7rem;
  float: left;
  left: 50%;
}

ol.progtrckr li.progtrckr-todo:before {
  content: "\039F";
  color: silver;
  background-color: white;
  width: 1.2em;
  line-height: 1.4em;
}

ol.progtrckr li.progtrckr-todo:hover:before {
  color: #ff4500;
}

ol.progtrckr li.progtrckr-doing:before {
  content: "\2022";
  color: white;
  background-color: #CCCCCC;
  width: 1.2em;
  line-height: 1.2em;
  border-radius: 1.2em;
}

ol.progtrckr li.progtrckr-doing:hover:before {
  color: #ff4500;
}

ol.progtrckr li.progtrckr-done:before {
  content: "\2713";
  color: white;
  background-color: #5cb85c;
  width: 1.2em;
  line-height: 1.2em;
  border-radius: 1.2em;
}

ol.progtrckr li.progtrckr-done:hover:before {
  color: #333;
}

.fa-angle-left{
  margin-right: 1%;
  margin-top: .9%;
}

.fa-angle-down{
  margin-right: 1%;
  margin-top: .9%;
}

.fontAwesome{
  font-size: 1.9em;
  padding-right: 8%;
}

.menuIcons{
  width: 20%;
  display: inline-block;
}

.menuName{
  width:80%;
  display: inline-block;
  letter-spacing: .5px;
}

.btn.active, .btn:active {
    background-color: rgba(0, 0, 0, 0.12);
    color:white;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .panel{
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .panel-no-border{
    border: none;
  }

  .row-sp-1{
    margin-top: 1%;
  }

.search-container{
  height: 13px;
}

.company-title{
  color: white;
  text-transform: uppercase;
  font-size: 1.5em;
  text-align: center;
  letter-spacing: 2px;
  padding: 17px;
}

.input-container .search{

}

.search-container{
  height: 100%;
  margin-top: 0;
}

.input-container #Search{
  height: 45px;
  padding-top: 18px;
}

.fa-cloud-upload{
  color: #489fdf;
  font-size: 10em;
}

.imageUpload{
  text-align: center;
}

.listImageName{
  display: inline-block;
  margin-top: 2%;
}

.progress{
  margin-top: 3%;
}
.sold-out{
    color: red;
}

.current{
    color: green;
}
.upcoming-event{
    height: 150px !important;
    width: 100%;
}
.image-thumb{
  height: 180px !important;
  width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

table{
    width: 100%;
}

.todo{
    padding: 10px;
}

.eventsBtn{
  text-align: center;
  padding-left: 10px;
  width: 10%;
  background-color: white;
  color: black;
  background: rgba(255,255,255,.9);
  border-width: 1px 1px 0px 0;
  border-style: solid;
  border-color: #d7d7d7;
}

.btn.eventsBtn:hover{
  color: grey;
}
.eventsBtn.active{
  color: black;
  background-color: rgba(0, 0, 0, 0.12);
}

.colBottomBorder{
  background: rgba(255,255,255,.9);
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #d7d7d7;
  margin-left: 15px;
  padding-left: 0px;
}
.bottomBorder{
  background: rgba(255,255,255,.9);
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #d7d7d7;
  padding-top: 2px;
}

.imageThumb{
  width: 10em;
  padding-top: 20px;
}

.dropzone{
  padding-top: 20px;
}

.dropzoneImage{
  height:150px;
}

.container{
  padding-top: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.addon{
  font-size: 20px;
  padding-left: 10px;
}

.addon-title{
  padding: 10px;
  font-size: 24px;
}